.flex {
  display: flex;
}

#navbar {
  align-items: center;
  justify-content: space-between;
}

#navbar > section > a {
  margin: 10px;
}

#homeLink {
  font-size: xx-large;
  font-weight: bolder;
  color: black;
}

#homeLink:hover {
  color: hotpink;
}

a {
  text-decoration: none;
  font-size: larger;
}

a:hover {
  color: blue;
}

.thumbnail {
  width: 100%;
}
